.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }

    .custom-button {
      position: absolute;
      width: 80px;
      opacity: 0.7;
      top: 255px;
      display: none;

      &:hover {
        opacity: 1.0;
      }
    }

    &:hover {
      .image {
        opacity: 0.8;
      }

      .custom-button {
        display: flex;
      }
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }

  }